body {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
}

h1, h2, b {
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}

#current {
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -390px;
    width: 600px;
}

#menu {
    position: absolute;
    left: 50%;
    margin-left: 220px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: block;
    width: 140px;
    padding: 20px;
    background: #ccc;
    margin: 10px 0;
}

li:hover {
    background: #ba2b2b;
    cursor: pointer;
    color: #fff;
}

img {
    width: 300px;
    display: block;
}